{%  extends 'base.html' %}
{%  block content %}
    <h1>My GitHub Repositories : <a href="https://github.com/shaneleblanc">shaneleblanc</a> </h1>
            <ol>
            {% for repo in github_repos %}
                <li><a href="{{ repo.html_url }}">{{ repo.name }}</a>
                    {% if repo.has_pages %}
                       -  <a href="https://shaneleblanc.github.io/{{ repo.name }}">[Live Demo]</a>
                    {% endif %}
                    <p>{{ repo.description }}</p>

                </li>
            {% endfor %}
            </ol>
{%  endblock  %}

