{%  extends 'base.html' %}
{%  block content %}

    {% if submitted %}
        {% if send_error %}
            <h3>Message could not be sent.</h3>
            <p>I apologize, we've caught an invalid header error.</p>
            <p>Please email me directly at <a href="mailto:shane@xs.vc">shane@xs.vc</a></p>
            <p>Thanks!</p>
            {% else %}
                <h3>Message sent.</h3>
                <p>Thank you!</p>
                <p>I will get back to you as soon as I can.</p>
        {% endif %}

    {% else %}
<form action="/contact" method="POST" role="form">
{% csrf_token %}
                {% if form.subject.errors %}
                    <ol role="alertdialog">
                        {% for error in form.subject.errors %}
                            <li role="alert"><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                {% endif %}

                {% for field in form %}
                    <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    </div>
                {% endfor %}
        <input type="submit" class="btn btn-primary mb-2" value="Submit" />
        </form>
    {% endif %}
{% endblock content %}